*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: rgb(221, 219, 219);
}

.header{
    position: relative;
    padding: 10px;
    background-color: white;
}

a {
    display: inline ;
    text-decoration: none;
}

ul {
    position: absolute;
    right: 0px;
    top: 10px;
}
ul li {
    list-style: none;
    padding: 10px 15px 11px 15px;
    display: inline;
}

 ul li :hover {
    padding: 10px 15px 11px 15px;
    background-color: rgb(221, 219, 219);
}
